@import url("./var.css");

.row {
  height: 500px;
}

.rowHeader {
  padding: 8px;
  display: flex;
  gap: 16px;
}
.pill {
  border-radius: 100px;
  margin: var(--spacing-01) 0;
  padding: calc(var(--spacing-02) - 2px) calc(var(--spacing-03) - 2px);
  border: 2px solid var(--tag-border-color);
  background: var(--tag-surface-color);
  color: var(--tag-color);
  font-size: var(--font-size-sm);
  line-height: var(--spacing-05);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  --tag-surface-color: var(--ozone-purple-surface);
  --tag-color: var(--ozone-purple);
  cursor: initial;
}

.count {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-caption-01);
  font-weight: 400;
  letter-spacing: 0.32px;
  color: var(--gray-70);
}

.col {
  transition: background-color 444.184ms ease 0ms, border-color 0s ease;
  box-sizing: border-box;
  height: 432px;
  margin-right: 16px;
  border-width: 2px;
  border-style: dashed;
  border-color: transparent;
  background-color: var(--coolest-gray-20);
  flex-shrink: 0;
}

.colInner {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 256px;
}

.colHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
  margin-top: 4px;
}

.colHeader > span {
  padding: 4px 8px;
}

.taskWrapper {
  padding-bottom: 8px;
  height: 120px;
}

.parent {
  height: 100wh;
  position: relative;
}

.colWrapper {
  display: flex;
}

.taskTitle {
  width: 100%;
  display: flex;
}

.tasksContainer {
  overflow: auto;
  height: 384px;
}

.drag {
  opacity: 0.2;
}

.colDrag {
  overflow: hidden;
  border: 3px dotted var(--blue-20);
  background-color: var(--blue-30);
}

.colDrag .tasksContainer {
  overflow: hidden;
}

.placeholder {
  border: 2px dotted var(--blue-20);
  width: 100%;
  height: 120px;
}

.highlight .task {
  transition: background-color 444.184ms ease 0ms, border-color 0s ease;
  background-color: var(--blue-30);
}

.highlight {
  transition: background-color 444.184ms ease 0ms, border-color 0s ease;
  background-color: var(--blue-30);
}

.counter {
  padding: 4px 8px;
}

.scrollWrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.scrollHitBoxVertical {
  z-index: 10;
  position: absolute;
  height: 200px;
  width: 100vw;
}

.scrollHitBoxHorizontal {
  z-index: 10;
  position: absolute;
  height: 200px;
  width: 100vw;
  border: 1px solid black;
}

.scrollHitBoxHorizontalSpeed {
  z-index: 10;
  position: absolute;
  height: 100px;
  width: 100vw;
}

.scrollHitBoxVertical {
  z-index: 10;
  position: absolute;
  height: 100vh;
  width: 200px;
  border: 1px solid black;
}

.scrollHitBoxVerticalSpeed {
  z-index: 10;
  position: absolute;
  height: 100vh;
  width: 100px;
}

.scrollBottom {
  bottom: 0;
}

.scrollLeft {
  left: 0;
}

.scrollRight {
  right: 0;
}

.ghost {
  box-sizing: border-box;
  border: 2px solid #999;
}
