:root {
  --black-100: #000;
  --blue-10: #edf5ff;
  --blue-20: #d0e2ff;
  --blue-30: #a6c8ff;
  --blue-40: #78a9ff;
  --blue-50: #4589ff;
  --blue-60: #0f62fe;
  --blue-70: #0043ce;
  --blue-80: #002d9c;
  --blue-90: #001d6c;
  --blue-100: #001141;
  --cool-gray-10: #f2f4f8;
  --cool-gray-20: #dde1e6;
  --cool-gray-30: #c1c7cd;
  --cool-gray-40: #a2a9b0;
  --cool-gray-50: #878d96;
  --cool-gray-60: #697077;
  --cool-gray-70: #4d5358;
  --cool-gray-80: #343a3f;
  --cool-gray-90: #21272a;
  --cool-gray-100: #121619;
  --coolest-gray-10: #f9f9fa;
  --coolest-gray-20: #edeef0;
  --coolest-gray-30: #dfe1e6;
  --coolest-gray-40: #d0d3da;
  --coolest-gray-50: #c0c4cc;
  --coolest-gray-60: #aeb3be;
  --coolest-gray-70: #9aa0ae;
  --coolest-gray-80: #818a9b;
  --coolest-gray-90: #656d7c;
  --coolest-gray-100: #3b4048;
  --cyan-10: #e5f6ff;
  --cyan-20: #bae6ff;
  --cyan-30: #82cfff;
  --cyan-40: #33b1ff;
  --cyan-50: #1192e8;
  --cyan-60: #0072c3;
  --cyan-70: #00539a;
  --cyan-80: #003a6d;
  --cyan-90: #012749;
  --cyan-100: #061727;
  --gray-10: #f4f4f4;
  --gray-20: #e0e0e0;
  --gray-30: #c6c6c6;
  --gray-40: #a8a8a8;
  --gray-50: #8d8d8d;
  --gray-60: #6f6f6f;
  --gray-70: #525252;
  --gray-80: #393939;
  --rgb-gray-80: 57, 57, 57;
  --gray-90: #262626;
  --gray-100: #161616;
  --green-10: #defbe6;
  --green-20: #a7f0ba;
  --green-30: #6fdc8c;
  --green-40: #42be65;
  --green-50: #24a148;
  --green-60: #198038;
  --green-70: #0e6027;
  --green-80: #044317;
  --green-90: #022d0d;
  --green-100: #071908;
  --magenta-10: #fff0f7;
  --magenta-20: #ffd6e8;
  --magenta-30: #ffafd2;
  --magenta-40: #ff7eb6;
  --magenta-50: #ee5396;
  --magenta-60: #d12771;
  --magenta-70: #9f1853;
  --magenta-80: #740937;
  --magenta-90: #510224;
  --magenta-100: #2a0a18;
  --purple-10: #f6f2ff;
  --purple-20: #e8daff;
  --purple-30: #d4bbff;
  --purple-40: #be95ff;
  --purple-50: #a56eff;
  --purple-60: #8a3ffc;
  --purple-70: #6929c4;
  --purple-80: #491d8b;
  --purple-90: #31135e;
  --purple-100: #1c0f30;
  --red-10: #fff1f1;
  --red-20: #ffd7d9;
  --red-30: #ffb3b8;
  --red-40: #ff8389;
  --red-50: #fa4d56;
  --red-60: #da1e28;
  --red-70: #a2191f;
  --red-80: #750e13;
  --red-90: #520408;
  --red-100: #2d0709;
  --teal-10: #d9fbfb;
  --teal-20: #9ef0f0;
  --teal-30: #3ddbd9;
  --teal-40: #08bdba;
  --teal-50: #009d9a;
  --teal-60: #007d79;
  --teal-70: #005d5d;
  --teal-80: #004144;
  --teal-90: #022b30;
  --teal-100: #081a1c;
  --yellow-10: #fffbf0;
  --yellow-20: #fff5d6;
  --yellow-30: #ffebaf;
  --yellow-40: #ffdf7e;
  --yellow-50: #ffbf00;
  --yellow-60: #d1a727;
  --yellow-70: #9f7d18;
  --yellow-80: #745909;
  --yellow-90: #513d02;
  --yellow-100: #2a220a;
  --warm-gray-10: #f7f3f2;
  --warm-gray-20: #e5e0df;
  --warm-gray-30: #cac5c4;
  --warm-gray-40: #ada8a8;
  --warm-gray-50: #8f8b8b;
  --warm-gray-60: #736f6f;
  --warm-gray-70: #565151;
  --warm-gray-80: #3c3838;
  --warm-gray-90: #272525;
  --warm-gray-100: #171414;
  --white-10: rgba(255, 255, 255, 0.1);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-90: rgba(255, 255, 255, 0.9);
  --white-100: #fff;
  --private-01: #fffbe6;
  --private-02: #fff9d5;
  --orange-40: #ff832b;
  --normal-color: #d9d9d9;
  --highlight-color: var(--red-50);
  --item-hover-bg: #f5f5f5;
  --ozone-blue-background: var(--blue-40);
  --ozone-blue-surface: var(--blue-10);
  --ozone-blue: var(--blue-70);
  --ozone-gray-background: var(--gray-50);
  --ozone-gray-surface: var(--gray-20);
  --ozone-gray: var(--gray-100);
  --ozone-default-surface: var(--cool-gray-30);
  --ozone-default-background: var(--gray-20);
  --ozone-cyan-background: var(--cyan-40);
  --ozone-cyan-surface: var(--cyan-10);
  --ozone-cyan: var(--cyan-70);
  --ozone-cool-gray-background: var(--cool-gray-30);
  --ozone-cool-gray-surface: var(--gray-10);
  --ozone-cool-gray: var(--gray-70);
  --ozone-green-background: var(--green-40);
  --ozone-green-surface: var(--green-10);
  --ozone-green: var(--green-70);
  --ozone-magenta-background: var(--magenta-40);
  --ozone-magenta-surface: var(--magenta-10);
  --ozone-magenta: var(--magenta-70);
  --ozone-purple-background: var(--purple-40);
  --ozone-purple-surface: var(--purple-10);
  --ozone-purple: var(--purple-70);
  --ozone-red-background: var(--red-50);
  --ozone-red-surface: var(--red-10);
  --ozone-red: var(--red-70);
  --ozone-teal-background: var(--teal-40);
  --ozone-teal-surface: var(--teal-10);
  --ozone-teal: var(--teal-70);
  --ozone-yellow-background: var(--yellow-40);
  --ozone-yellow-surface: var(--yellow-10);
  --ozone-yellow: var(--yellow-70);
  --ozone-orange-background: var(--orange-40);
  --ozone-orange-surface: var(--orange-10);
  --ozone-orange: var(--orange-70);
  --primary-color: var(--blue-60);
  --info-color: var(--primary-color);
  --success-color: var(--green-60);
  --warning-color: var(--yellow-40);
  --warning-bg-color: var(--private-01);
  --warning-border-color: #f0c11b;
  --processing-color: var(--blue-50);
  --error-color: var(--red-60);
  --hover-color: var(--gray-10);
  --hover-darker-color: var(--gray-20);
  --text-color: var(--gray-100);
  --link-color: var(--primary-color);
  --text-02: var(--gray-70);
  --text-03: var(--gray-40);
  --side-nav-width: 48px;
  --side-nav-bg: var(--gray-100);
  --side-nav-active-link: var(--primary-color);
  --side-nav-text: var(--white-100);
  --brand-color: var(--primary-color);
  --brand-hover-color: var(--blue-70);
  --base-unit: 8px;
  --border-radius-base: 2px;
  --border-radius-small: 8px;
  --border-radius-curved: 100px;
  --height-base: 32px;
  --height-lg: 40px;
  --height-sm: 24px;
  --input-size-sm: var(--height-base);
  --input-height-default: var(--height-lg);
  --input-height-lg: 48px;
  --input-size-xs: 24px;
  --html-font-base: 16px;
  --heading-1-size: 3.375rem;
  --heading-2-size: 2.625rem;
  --heading-3-size: 2rem;
  --heading-4-size: 1.75rem;
  --heading-5-size: 1.25rem;
  --heading-6-size: 1rem;
  --font-size-base: 0.875rem;
  --font-size-sm: 0.75rem;
  --font-size-lg: 1rem;
  --line-height-base: 1.25rem;
  --line-height-body-long-01: var(--line-height-base);
  --line-height-code-01: 1rem;
  --line-height-code-02: var(--line-height-base);
  --line-height-body-short-01: 1.125rem;
  --line-height-body-short-02: 1.375rem;
  --line-height-caption-01: 1rem;
  --line-height-helper-01: 1rem;
  --line-height-label-01: 1rem;
  --heading-1-line-height: 4rem;
  --heading-2-line-height: 3.125rem;
  --heading-3-line-height: 2.5rem;
  --heading-4-line-height: 2.25rem;
  --heading-5-line-height: 1.625rem;
  --heading-6-line-height: 1.375rem;
  --heading-7-line-height: 1.125rem;
  --heading-1-weight: 300;
  --heading-2-weight: 300;
  --heading-3-weight: 400;
  --heading-4-weight: 400;
  --heading-5-weight: 400;
  --heading-6-weight: 600;
  --heading-7-weight: 600;
  --heading-8-weight: 700;
  --font-weight-bold: 600;
  --font-weight-normal: 400;
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
  --spacing-08: 2.5rem;
  --spacing-09: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 6rem;
  --spacing-12: 10rem;
  --layout-01: 1rem;
  --layout-02: 1.5rem;
  --layout-03: 2rem;
  --layout-04: 3rem;
  --layout-05: 4rem;
  --layout-06: 6rem;
  --layout-07: 10rem;
  --animation-duration-fast: 0.1s;
  --animation-duration-medium: 0.2s;
  --animation-duration-slow: 0.3s;
  --animation-duration-slower: 0.4s;
  --task-pane-header-bg: var(--coolest-gray-10);
  --pane-width: 448px;
  --tabs-width: 48px;
  --tabs-height: 48px;
  --zindex-modal-lowest: 1;
  --zindex-elevated: 10;
  --zindex-popover-high: 1030;
  --zindex-popover: var(--zindex-popover-high);
  --zindex-popover-low: 1020;
  --zindex-modal: 1010;
  --zindex-modal-mask: var(--zindex-modal);
  --zindex-layer-09: 1009;
  --zindex-layer-08: 1008;
  --zindex-layer-07: 1007;
  --zindex-layer-06: 1006;
  --zindex-layer-05: 1005;
  --zindex-layer-04: 1004;
  --zindex-layer-03: 1003;
  --zindex-layer-02: 1002;
  --zindex-layer-01: 1001;
  --zindex-layer-00: 1000;
  --zindex-overlay-content: 900;
  --border-color: var(--gray-20);
  --shadow-01: 0 0.4px 0.9px rgba(0, 0, 0, 0.13),
    0 0.075px 0.225px rgba(0, 0, 0, 0.11);
  --shadow-02: 0 0.8px 1.8px rgba(0, 0, 0, 0.13),
    0 0.15px 0.45px rgba(0, 0, 0, 0.11);
  --shadow-03: 0 1.2px 2.7px rgba(0, 0, 0, 0.13),
    0 0.225px 0.675px rgba(0, 0, 0, 0.11);
  --shadow-04: 0 1.6px 3.6px rgba(0, 0, 0, 0.13),
    0 0.3px 0.9px rgba(0, 0, 0, 0.11);
  --shadow-06: 0 2.4px 5.4px rgba(0, 0, 0, 0.13),
    0 0.45px 1.35px rgba(0, 0, 0, 0.11);
  --shadow-08: 0 3.2px 7.2px rgba(0, 0, 0, 0.13),
    0 0.6px 1.8px rgba(0, 0, 0, 0.11);
  --shadow-09: 0 3.6px 8.1px rgba(0, 0, 0, 0.13),
    0 0.675px 2.025px rgba(0, 0, 0, 0.11);
  --shadow-12: 0 4.8px 10.8px rgba(0, 0, 0, 0.13),
    0 0.9px 2.7px rgba(0, 0, 0, 0.11);
  --shadow-16: 0 6.4px 14.4px rgba(0, 0, 0, 0.13),
    0 1.2px 3.6px rgba(0, 0, 0, 0.11);
  --shadow-24: 0 9.6px 21.6px rgba(0, 0, 0, 0.13),
    0 1.8px 5.4px rgba(0, 0, 0, 0.11);
  --shadow-32: 0 12.8px 28.8px rgba(0, 0, 0, 0.22),
    0 2.4px 7.2px rgba(0, 0, 0, 0.18);
  --shadow-40: 0 16px 36px rgba(0, 0, 0, 0.22), 0 3px 9px rgba(0, 0, 0, 0.18);
  --shadow-48: 0 19.2px 43.2px rgba(0, 0, 0, 0.22),
    0 3.6px 10.8px rgba(0, 0, 0, 0.18);
  --shadow-64: 0 25.6px 57.6px rgba(0, 0, 0, 0.22),
    0 4.8px 14.4px rgba(0, 0, 0, 0.18);
  --shadow-80: 0 32px 72px rgba(0, 0, 0, 0.22), 0 6px 18px rgba(0, 0, 0, 0.18);
  --shadow-96: 0 38.4px 86.4px rgba(0, 0, 0, 0.22),
    0 7.2px 21.6px rgba(0, 0, 0, 0.18);
  --shadow-192: 0 76.8px 172.8px rgba(0, 0, 0, 0.13),
    0 14.4px 43.2px rgba(0, 0, 0, 0.11);
  --avatar-size-base: 24px;
  --avatar-size-lg: 32px;
  --avatar-size-sm: 20px;
  --tab-active-color: var(--gray-100);
  --tab-hover-color: var(--gray-100);
  --tab-normal-border-color: var(--gray-20);
  --tab-hover-border-color: var(--gray-40);
  --icon-primary: var(--gray-70);
  --icon-secondary: var(--gray-40);
}
